* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #000915;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.heading {
  color: #FFF;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}

.main {
  background-image: url(img/Rectangle\ 1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 217px;
  padding-bottom: 494px;
}
.main__heading {
  font-size: 64px;
  font-weight: 700;
  padding-bottom: 32px;
}
.main__text {
  max-width: 481px;
  padding-bottom: 44px;
}
.main__text_style {
  font-weight: bold;
}

.button {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  box-sizing: border-box;
  border: none;
  border-radius: 30px;
  background: #9C0332;
  width: 234.063px;
  height: 48.603px;
  transition: all 0.2s;
}
.button:hover {
  background: #EB443F;
}

.group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding-top: 128px;
  padding-bottom: 128px;
}
.group__style {
  border-radius: 19px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  box-sizing: border-box;
  padding: 32px;
}
.group__style_1 {
  background-image: url(img/group1.jpg);
  width: 379px;
  height: 300px;
}
.group__style_2 {
  background-image: url(img/group2.jpg);
  width: 378px;
  height: 300px;
}
.group__style_3 {
  background-image: url(img/group3.jpg);
  width: 379px;
  height: 300px;
}
.group__style:hover {
  border-radius: 19px;
  outline: 3px solid #44D2FF;
  box-sizing: border-box;
}

.game {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 234px;
  padding-bottom: 234px;
}
.game__1_heading {
  padding-bottom: 32px;
}
.game__1_text {
  max-width: 592px;
  padding-bottom: 32px;
}
.game__2_heading {
  padding-bottom: 32px;
}
.game__2_text {
  max-width: 592px;
  padding-bottom: 32px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .heading {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .text {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    padding-bottom: 32px;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 238px;
    padding-bottom: 238px;
  }
  .main__text {
    padding-bottom: 32px;
  }
  .game {
    padding-top: 51px;
    padding-bottom: 85px;
  }
  .game__1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .game__2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .gameWord {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: center;
  }
  .imgGame {
    padding-top: 64px;
  }
  .imgGame2 {
    max-width: 343px;
  }
}/*# sourceMappingURL=style.css.map */