* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #000915;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.heading {
    color: #FFF;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
}

.main {
    background-image: url(img/Rectangle\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 217px;
    padding-bottom: 494px;

    &__heading {
        font-size: 64px;
        font-weight: 700;
        padding-bottom: 32px;
    }

    &__text {
        max-width: 481px;
        padding-bottom: 44px;

        &_style {
            font-weight: bold;
        }
    }
}

.button {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    box-sizing: border-box;
    border: none;
    border-radius: 30px;
    background: #9C0332;
    width: 234.063px;
    height: 48.603px;
    transition: all 0.2s;

    &:hover {
        background: #EB443F;
    }
}

.group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding-top: 128px;
    padding-bottom: 128px;

    &__style {
        border-radius: 19px;
        color: #FFF;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 32px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        box-sizing: border-box;
        padding: 32px;

        &_1 {
            background-image: url(img/group1.jpg);
            width: 379px;
            height: 300px;
        }

        &_2 {
            background-image: url(img/group2.jpg);
            width: 378px;
            height: 300px;
        }

        &_3 {
            background-image: url(img/group3.jpg);
            width: 379px;
            height: 300px;
        }

        &:hover {
            border-radius: 19px;
            outline: 3px solid #44D2FF;
            box-sizing: border-box;
        }
    }
}

.game {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 234px;
    padding-bottom: 234px;

    &__1 {
        &_heading {
            padding-bottom: 32px;
        }

        &_text {
            max-width: 592px;
            padding-bottom: 32px;
        }
    }

    &__2 {
        &_heading {
            padding-bottom: 32px;
        }

        &_text {
            max-width: 592px;
            padding-bottom: 32px;
        }
    }
}

@import "mobile";